* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: arial;
}

h1 {
    text-transform: uppercase;
    margin: 50px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    flex-basis: 25%;
    padding: 30px;
}

.col>* {
    padding-bottom: 30px;
}

img {
    align-self: center;
    width: 90%;
}